.persons-list {
    margin: 30px 0;
    .person-list__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 15px;
        padding: 25px 15px 25px 70px;
        border-radius: 10px;
        background: url('../../../assets/icons/user-icon.svg') no-repeat 15px center;
        box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
        @media screen and (max-width: 475px) {
            position: relative;
            padding: 25px 15px 25px 50px;
            background-position: 5px center;
            .button-wrapper {
                width: 40px;
                .button {
                    min-width: 30px;
                    min-height: 30px;
                }
            }
        }
    }
    &.persons-list_empty {
        display: inline-block;
        vertical-align: baseline;
        margin: 0 0 15px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
    }
}