<ul class="persons-list" modal>
    <li *ngFor="let person of persons" class="person-list__item">
        <span>{{ person.firstName }} {{ person.lastName }}</span>
        <span class="button-wrapper">
            <button 
                type="button" 
                class="button button_edit" 
                (click)="editPerson(person)"
            ></button>
            <button 
                type="button" 
                class="button button_remove" 
                (click)="removePerson(person)"
            ></button>
        </span>
    </li>
</ul>

<p 
    *ngIf="!persons.length" 
    class="persons-list persons-list_empty"
>Список сотрудников пуст. Чтобы добавить, нажмите кнопку ниже
</p>