/* You can add global styles to this file, and also import other style files */

$shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.4);
$borderRadius: 10px;
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

ul {
    list-style: none;
}

.button-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0 -5px -5px;
}

.button {
    display: flex;
    margin: 0 5px 5px;
    min-width: 40px;
    min-height: 40px;
    background: none;
    border-radius: $borderRadius;
    border: 0;
    box-shadow: $shadow;
    cursor: pointer;
    &.button_remove {
        background: url('./assets/icons/remove-icon.svg') no-repeat;
    }
    &.button_edit {
        background: url('./assets/icons/edit-icon.svg') no-repeat;
    }
    &.button_add {
        margin-left: 0;
        background: url('./assets/icons/add-icon.svg') no-repeat;
    }
    &.button_remove,
    &.button_edit,
    &.button_add {
        background-position: center center;
        background-size: 70% 70%;
    }
    &.button_modal {
        display: inline-block;
        vertical-align: baseline;
        margin: 10px 10px 0;
    }
    &.button_title {
        padding: 5px 10px;
        color: white;
        background: #98ccfd;
    }
    &:hover {
        opacity: 0.7;
    }
}

label {
    display: flex;
    flex-flow: row wrap;
    .label__title {
        display: flex;
        width: 100%;
        margin: 10px 0 5px;
    }
}

input {
    display: flex;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: $borderRadius;
    box-shadow: $shadow;
}